<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>Magic Sugar Wedding!!!</title>                     

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
	
  <%= csrf_meta_tags %>

                                                                              

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  
  
	<!-- ********** HEADER SECTION ********** --> 
	<div id="h">
		<div class="container">
			- <div class="row centered">
				<h3><br/><br/><br/></h3>
				<h1><br/><br/></h1>

				<!-- <div class="col-md-6 col-md-offset-3 mt">
					<form role="form" action="register.php" method="post" enctype="plain"> 
	    				<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
						<button class='btn btn-lg btn-green subscribe-submit' type="submit">Yes, Please</button>
					</form>
				</div> -->
			</div> 

			<div class="row centered">
				<div class="continue">
			<!--		<i class="ion-chevron-down"></i> -->
					<h1>MAGIC.SUGAR</h1>
					<h1>WEDDING</h1>
				</div>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/header -->	  
	
	<%= yield %>

	
	<!-- ********** END SECTION ********** --> 
	<div class="container">
		<div class="row mtb">
			<div class="col-md-6 col-md-offset-3 centered">
				<p class="text28">
					<a href="http://instagram.com/magicsugarwedding/"><i class="ion-social-instagram"></i></a>
				</p>
				<hr class="aligncenter">
				<p>MagicSugarWedding.com</p>
			</div>
		</div><!--/row -->
	</div><!--/container -->                               
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
